@{
    ViewBag.Title = "Complete";
}

<section class="section-conten padding-y" style="min-height:50vh">
    <div class="mx-auto" style="max-width: 380px; margin-top:100px;">
        <h2>Checkout Complete</h2>

        <p>Thanks for your order! Your order number is @Model</p>
        <p>How about shopping for some more products in our @Html.ActionLink("store", "Index", "Home")</p>
    </div>
</section>

