@model IEnumerable<Core.Domain.Category>

<nav class="navbar navbar-main navbar-expand-lg border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav5" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav5">
            <ul class="navbar-nav">
                @foreach (var category in Model)
                {
                    if (category.Children.Any())
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">@category.Name</a>
                            <div class="dropdown-menu">
                                @foreach (var children in category.Children)
                                {
                                    @Html.ActionLink(children.Name, "List", "Product", new { alias = category.Alias, subAlias = children.Alias }, new { @class = "dropdown-item" })
                                }
                            </div>
                        </li>
                    }
                    else if(category.ParentId == null)
                    {
                        <li class="nav-item">
                            @Html.ActionLink(category.Name, "List", "Category", new { alias = category.Alias }, new { @class = "nav-link" })
                        </li>
                    }
                }
            </ul>
        </div> <!-- collapse .// -->
    </div> <!-- container .// -->
</nav> <!-- navbar main end.// -->