<a href="@Url.Action("Index", "Cart")" class="widget-header mr-2">
    <div class="icon">
        <i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
        <span id="cart-status" class="notify">@Model</span>
    </div>
</a>